.main-heading-app {
  color: #ffa447;
  text-align: center;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-underline-offset: 10px;
}
.button-primary-style {
  flex: 1;
  background-color: #6895d2;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  border: none;
  color: white;
  font-size: 1.2rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.code-value-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  gap: 2rem;
  margin: auto;
  margin-top: 40px;
}
.input-tag-code {
  width: 100%;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.2rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
